@font-face{
  font-family: Montserrat;
  src: url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
}

:root{
  --btn-bg-color: #A2BC6C;
}
body{
  font-family: Montserrat, sans-serif;
}
header{
  position: relative;
  height: 100px;
  max-height: 100px;
}
#navbar{
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #fff;
  min-height: 68px;
}

.navbar{
  margin-bottom: 0;
}

.navbar-toogle{
  display: none;
}
.navbar .logo{
  width: 175px;
  height: 40px;
  background: url('../src/logo.png');
  background-repeat: no-repeat;
}

li a{
  color: black;
  border-top: 3px solid;
  border-top-color: transparent;
  padding: 22px 7px 10px;
}

li a:hover{
  background-color: transparent!important;
  color: black;
}

.title_of_position{
  font-size: 45px;
  color: black;
}

 .share{
  padding: 5px 30px;
  background-color: var(--btn-bg-color);
  border: none;
  font-weight: 600;
 }

.long_description{
  display: none;
}

.see_more{
  margin-left: 46%;
  padding: 5px 30px;
  background-color: var(--btn-bg-color);
  border: none;
  font-weight: 600;
}

.form_feedback{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_title{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.input_wrapper{
  text-align: center;
  width: 80%;
  height: 80%;
  /* background-color: #F7F7F7; */
  padding: 20px 20px;
}

.input{
  width: 100%;
  height: 45px;
  margin-bottom: 35px;
}

.upload{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.paperclip{

  height: 18px;
  cursor: pointer;
}
#attach_cv{
  display: none;
}

.submit_btn{
  padding: 5px 30px;
  background-color: var(--btn-bg-color);
  border: none;
  font-weight: 600;
}

.contact_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.owl-carousel{
  position: relative;
  width: 50%!important;
  text-align: center;
  font-size: 25px;
}

#sliderItem{
  width: 180px;
}

.owl-prev{
  position: absolute;
  top: 130px;
  left: -40px;
  transform: rotate(-90deg);

}

.owl-prev img{
  height: 30px;
}


.owl-next{
  position: absolute;
  top: 118px;
  right: -20px;
  width: 8px;
  transform: rotate(90deg);
}

.owl-next img{
  height: 30px;
}

.owl-stage-outer{
  margin-top: 50px;
}

.slider_title{
  position: absolute;
  top: 60px;
  right: 21%;
  font-size: 22px;
  font-weight: 500;
}

.footer{
  min-height: 68px;
  margin-top: 100px;
}
.block_navigation{
  display: flex;
  justify-content: center;
}
.list_item{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 30%;
  
}

.nav_title{
  font-size: 22px;
  font-weight: 500;
  margin-top: 3px;
}

.item{
  height: 36px;
  width: 36px;
}

.item .facebook_img{
  /* background: url(''); */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.instagram{
  height: 37px;
  opacity: 0.2;
}

.gmail{
  opacity: 0.2;
}

@media only screen and (max-width: 540px){

  .navbar-toogle{
    display: block;
    position: absolute;
    top: 19px;
    right: 10%;
  }

  .logo{
    margin-left: 20px;
    margin-top: 15px;
  }

  .title_of_position{
    font-size: 26px;
  }

  .contact_section{
    flex-direction: column;
  }

  .form_feedback{
    width: 100%;
  }

  .input_wrapper{
    padding: 20px 0;
  }

  .see_more{
    margin-left: 30%;
  }

  .owl-carousel{
    width: 75%!important;
    margin-top: 10px;
  }

  .owl-next{
    top:  135px;
  }

  .owl-prev{
    top:  146px;
  }

  #sliderItem{
    width: 270px;
  }

  .owl-stage-outer{
    margin-top: 30px;
  }
  .nav_title{
    display: none;
  }

  .list_item{
    justify-content: space-between;
    width: 60%;
  }
}